.DS_Store
.vscode
test_omniint
test.cpp
test
example.dSYM/Contents/Info.plist
example.dSYM/Contents/Resources/Relocations/aarch64/example.yml
example.dSYM/Contents/Resources/DWARF/example
test_omniint-test_omniint.json
